venv/
.env

.DS_Store
.idea/
.vscode/
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.egg-info/
dist/

# Ignore environment variable files
.env.local
.env.*.local
.envrc
# Ignore Jupyter Notebook checkpoints

python/
frontend/node_modules/
agent_memory/*.zip
autonomous_monitor/*.zip
autonomous_monitor/package/
bedrock_agent/lambdas/
kaggle.json

# Ignore deployment artifacts
bedrock_agent/deployments/
bedrock-agent-api-gateway/deployments/

